.email-form {
    position: fixed;
    bottom: 0;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
}

.Create-poll {
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    border: 4px solid #000000;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}