*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.email-form {
    position: fixed;
    bottom: 0;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
}

.Create-poll {
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    border: 4px solid #ffffff;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.poll-answer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.14);
}

.poll-bar-fill {
    height: 100%;
    width: 0;
    transition: width 0.8s ease-in-out;
}

.poll-bar-bg {
    background: #e0e0e0;
    height: 14px;
    border-radius: 8px;
    overflow: hidden;
}

