.email-form {
    position: fixed;
    bottom: 0;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
}